html, body {
    height: 100%;
    
  }
  
.full-height {
    height: 100%;
  }

.desborda
{
  overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.fondoVioleta {
  background-color: #7B1FA2;
}

.fondoVioletaGradiente
{
  background: rgb(109,0,163);
  background: linear-gradient(90deg, rgba(109,0,163,1) 0%, rgba(138,33,207,1) 100%);
}

.fondoGrisGradiente
{
  background: rgb(255,255,255);
  background: linear-gradient(183deg, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 100%);
}

.logoMediano {

  width: 10rem;
}

.redesIconos{
  width: 25px;
}

.hola{
  font-size: 15vw;
}

.colorGris{
  background-color: #BDBDBD;
}

.colorAmarilloLetras{
  color: #e5eb37;
}

.colorGris2
{
  background-color: #f8f9fae8;
}


.colorVioletaOscuro{
  background-color: #32005c;
}

.colorVioletaMasOscuro{
  background-color: #1c0033;
}

.fontHola {
  font-family: 'Staatliches', cursive;
}

.font{
  font-family: 'Varela Round', sans-serif;
}

.divMedio{
  max-height: fit-content;
}

.sizeIcono{
  width: 1vw;
}

.icono:hover{
  background: url('/img/iconos/instagram100pxAmarillo.png');
}

.procesosDisenioWeb
{
  
 width: 125px;
}

.button {
  background-color: transparent;
  opacity: 10;
  color: white;
  border: 2px solid #e7e7e7;
  transition-duration: 0.5s;
  padding: 1vw 2vw;
}

.button:hover {
  background-color: #e7e7e7;
  color: #7B1FA2;

}

ul{
  list-style:none;
}

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #673AB7;  
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/* zoom */

.zoom {
 
  transition: transform .2s; /* Animation */
  
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* zoom */



/* gradiente fondo animado */

.mydiv {
  
  background: linear-gradient(150deg, #9a02ff,  #46069b, #6d0167);
  background-size: 400% 300%;
  animation: BgGradient 3s ease infinite;
}

@keyframes BgGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}



@media screen and (max-width: 767px) {
  .mobile-space {margin-top:20px;}
  }